* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid red;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

.box {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}

.container1 {
  display: grid;
  /* grid-auto-flow: row ; */
  /* above is default, all 6 iteems stacked over eacch */

  grid-auto-flow: column;
  /* above arranges all items in a column   */
}

.container2 {
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: 200px 100px 200px; */

  /* above gives 3 columns of width 200px 100px and 200px, for more no of columns use width more times  */

  /* instead we can use fraction fr unit of measurement so that it occupies all the available space to it  */
  grid-template-columns: 1fr 2fr 1fr;
  /* we can also use px and fr combined like 200px 2fr 1fr 400fr etc  */
  column-gap: 1rem;
  /* this gap is called a gutter  */
}

.container3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* above repeats for 4 columns, each of 1fr  */
  /* we can also do repeat(2, 1fr 2fr) */
  margin-top: 20px;
}

.container4 {
  margin-top: 20px;
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  row-gap: 1rem;
}

/* we can combine cloumn-gap and row gap by gap: 2px 3px where 2 is for row and 3 is for column  */

.box:first-child {
  /* this targets all the first children of the parent div  */
  background: red;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* for more mastery, use grid garden for mastering grid  */
